{% capture toc %}{% endcapture %}
{% for h2 in content %}
  {% if h2 contains '<h2' %}
    {% assign parts = h2 | split: '>' | last | split: '<' | first %}
    {% capture id %}{{ parts | slugify }}{% endcapture %}
    {% capture toc_entry %}- [{{ parts }}](#{{ id }}){% endcapture %}
    {% assign toc = toc | append: toc_entry | append: "\n" %}
  {% endif %}
  {% if h2 contains '<h3' %}
    {% assign parts = h2 | split: '>' | last | split: '<' | first %}
    {% capture id %}{{ parts | slugify }}{% endcapture %}
    {% capture toc_entry %}  - [{{ parts }}](#{{ id }}){% endcapture %}
    {% assign toc = toc | append: toc_entry | append: "\n" %}
  {% endif %}
{% endfor %}
{% assign page.toc = toc %}
