{% if page.toc %}
  <nav id="toc" role="navigation" aria-label="Table of contents">
    <ul>
      {% for h2 in page.toc %}
        <li>
          <a href="#{{ h2.id }}">{{ h2.content }}</a>
          {% if h2.children %}
            <ul>
              {% for h3 in h2.children %}
                <li>
                  <a href="#{{ h3.id }}">{{ h3.content }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
